:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --acent-color: #18a0fb;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f5f5;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.01em;
  font-size: 18px;
  line-height: 1.67;
  font-weight: 400;
}

a:visited {
  color: var(--acent-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
}

.section {
  color: black;
  background-color: var(--primary-bg-color);
  display: block;
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.no-margin {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1680px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* Site nav */

.header {
  display: flex;
  align-items: center;
}

.site-logo {
  font-family: "Comfortaa", sans-serif;
  font-size: 28px;
  color: var(--title-text-color);
  margin-left: 80px;
  margin-right: 12px;
  text-decoration: none;
}
.site-logo:visited {
  color: var(--title-text-color);
}

.nav-logo {
  margin-right: 12px;
}

.site-nav {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 40px;
  margin-left: 70px;
}

.site-nav .link {
  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
}

.auth-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  line-height: 1.2;
  margin-left: auto;
  margin-right: 80px;
}

/* SECTION */

.section-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}
.section-title.centered {
  text-align: center;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  padding-left: 65px;
  padding-right: 65px;
  justify-content: space-between;
  padding-bottom: 60px;
}
.features-item {
  width: calc((100% - 60px) / 2);
}
.section-title.left {
  padding-top: 10px;
  padding-left: 60px;
}

.features-list .title,
.work-list .title {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.01em;
}

.work-list .item {
  display: flex;
  align-items: center;
}
.work-list .item:nth-child(even) {
  flex-direction: row-reverse;
}

.work-content {
  margin-left: 84px;
}
.work-content:nth-child(even) {
  margin-left: 84px;
}

/*  */

.work-list > .item:nth-child(odd) .work-img {
  margin-left: 80px;
  margin-right: 84px;
}

.work-list > .item:nth-child(even) .work-img {
  margin-left: 84px;
  margin-right: 80px;
}
/*  */
.text {
  margin-top: 0;
  margin-bottom: 32px;
}

/* Button */

.button {
  min-width: 130px;
  padding: 11px 34px;
  display: grid;
  display: inline-block;
  color: var(--title-text-color);
  background-color: var(--primary-bg-color);
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat";
  letter-spacing: -1.5%;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 6px;
}

.button.primary {
  background-color: var(--acent-color);
  color: var(--primary-bg-color);
}

.button.secondary {
  background-color: var(----acent-color);
  color: var(--acent-color);
  border-color: var(--acent-color);
}

/* Hero */

.hero {
  text-align: center;
}

.hero-title {
  font-weight: 400;
  font-size: 56px;
  line-height: 1.43;
  text-align: center;
  margin: 0 0 40px;
}

/* Example works */

.bg-acent {
  background-color: var(--secondary-bg-color);
}

.work-list > .item {
  padding-top: 80px;
  padding-bottom: 80px;
}

.work-list > .item:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

/* .title {
  margin: 0;
} */

/* Clients */

.section-description {
  margin-top: 0;
  /* margin-bottom: 80px; */
  margin-left: 144px;
  margin-right: 144px;
  text-align: center;

  font-weight: 400;
  font-size: 36px;
  line-height: 1.39;
  letter-spacing: -0.01em;
  color: var(--primary-text-color);
}

.clients-list {
  padding-left: 210px;
  padding-right: 210px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}

/* JOIN */

.join {
  display: flex;
  padding-top: 120px;
  padding-bottom: 120px;
  margin-bottom: 0;
}

.join p {
  margin-bottom: 0;
  margin-left: 80px;
  text-align: left;
  margin-right: auto;
}

.join-btn {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 140px;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
}

/* .footer > .list {
  display: flex;
} */
.footer-links-wrapper {
  display: flex;
}

.footer-links {
  display: flex;
  margin-right: auto;
}
