<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- Шапка страницы -->
    <header>
      <nav>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </header>
    <!-- Уникальный контент страницы -->
    <main>
      <h1></h1>
      <h2></h2>
      <article></article>
      <section>
        <div></div>
      </section>
    </main>
    <!-- Подвал страницы -->
    <footer>
      <nav>
        <ul>
          <li></li>
          <li></li>
        </ul>
      </nav>
    </footer>
  </body>
</html>
