.alert {
  position: absolute;
  bottom: 30px;
  left: 30px;

  margin: 0;

  display: inline-block;
  padding: 20px 30px;
  background-color: lightseagreen;
  border-radius: 5px;
  border: 1px solid green;

  transition: transform 1.5s ease;
}

.animate-out {
  transform: translateX(-300%);
}
