body {
  background-color: tan;
}
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.page-header {
  position: relative;

  border: 2px solid black;
}

.page-header .nav {
  display: flex;
  justify-content: space-between;

  align-items: center;
  min-height: 80px;
}

.features-set {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;

    flex-wrap: wrap;
    gap: 20px;
  }

  @media screen and (min-width: 1140px) {
    gap: 30px;
  }
}

.features-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  font-size: 32px;
  outline: 1px solid grey;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 20px) / 2);
  }

  @media screen and (min-width: 1140px) {
    flex-basis: calc((100% - 90px) / 3);
  }

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 10px;
    }
  }
}

.features-item:nth-child(even) {
  background-color: orange;
}
.features-item:nth-child(odd) {
  background-color: chocolate;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1140px) {
    width: 1140px;
  }
}

.company-logo {
  /* @extends %link */
  /* https://youtu.be/t5hlXeln3go?t=1554 */

  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  background-color: lightskyblue;
  color: #fff;
  text-decoration: none;
}

.reviews {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.reviews-set {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  @media screen and (min-width: 1140px) {
    gap: 30px;
  }
}

.reviews-item {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* color: #fff; */
  font-size: 32px;

  background-color: lightseagreen;
  outline: 1px solid black;
  flex-basis: calc((100% - 40px) / 3);

  @media screen and (min-width: 1140px) {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.reviews-item:nth-child(odd) {
  background-color: lightcoral;
}

/*  */
/* burger-btn */

.burger-btn {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  padding-right: 30px;
}

.burger-btn .icon-star {
  fill: red;
  display: none;
}

.burger-btn .icon-home {
  fill: lime;
  /* display: none; */
}

.burger-btn.is-open .icon-star {
  display: block;
}
.burger-btn.is-open .icon-home {
  display: none;
}

.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;

  width: 100%;
  height: 300px;

  background-color: lightgoldenrodyellow;
  padding: 20px;
  text-align: center;
  font-size: 20px;

  &.is-open {
    display: block;
  }
}

/* Модальное окно на телефоне */

.modal-btn-open {
  margin: 30px;
  padding: 10px 20px;
  font-size: 20px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 20px;

  overflow-y: scroll;
}

.modal {
  padding: 20px;
  background-color: #fff;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
