body {
  background-color: tan;
  padding-top: 80px;
}
.accent {
  color: green;
}

/* Фиксированный хедер */

.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 200px;
  /* на body нужно задать padding 80 px, что бы под хедер ничего не залазило */
  /* или добавить скрипт, который динамически будет менять паддинг у body */
  background-color: rgba(234, 255, 0, 0.5);
  outline: 3px dashed red;
}
