body {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* min-height: 100vh; */
  /* padding: 1rem; */
  /* text-align: center; */
}

/*  */
/* Подія submit */

form {
  display: flex;
  flex-direction: column;
  width: 150px;
  gap: 5px;
}

/* Подія submit */
/*  */

.submit-form {
  width: 400px;
}
